/* Variables for superfish theme */

$ul-width: 10em;
$linkPadding: 0.7em;

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu {
	line-height: 1;

	ul {
		position: absolute;
		top: -999em;
		width: $ul-width;

		li {
			width: 100%;
			&:hover {
				visibility: inherit;
			}
		}
	}

	li {
		float: left;
		position: relative;

		&:hover ul,
		&.sfHover ul {
			left: 0;
			top: $linkPadding*2 + $fontSize;
			z-index: 99;
		}
	}

	a {
		display: block;
		position: relative;
	}
}

ul {
	&.sf-menu {
		li {
			&:hover li ul,
			&.sfHover li ul {
				top: -999em;
			}

			li {
				&:hover ul,
				&.sfHover ul {
					left: $ul-width;
					top: 0;
				}

				&:hover li ul,
				&.sfHover li ul {
					top: -999em;
				}

				li {
					&:hover ul,
					&.sfHover ul {
						left: $ul-width;
						top: 0;
					}
				}
			}
		}
	}
}

/* TEMPLATE */

.sf-menu {
	float: left;
	font-size: $fontSize;

	li {
		background: transparent;
		a {
			border-left: 1px solid $grayLighter;
			padding: $linkPadding 1em;
			text-decoration: none;
			color: $gray;
			&:visited {
				color: $gray;
			}
			&.first {
				border: none;
			}
		}

		li {
			background: $white;
			a {
				border: 1px solid $grayLighter;
				border-width: 1px 1px 0px 1px;
				&.last {
					border-width: 1px;
				}
				&.first {
					border: 1px solid $grayLighter;
					border-width: 1px 1px 0px 1px;
				}
			}

			li {
				background: $white;
				a {
					border: 1px solid $grayLighter;
					border-width: 1px 1px 1px 0px;
					&.first {
						border-width: 1px 1px 0px 0px;
					}
					&.last {
						border-width: 1px 1px 1px 0px;
					}
				}
			}
		}
	}
	a, li {
		&:focus, &:hover, &:active, &.sfHover {
			outline: 0;
			background: $orange;
			border-bottom: 0;
		}
	}
}