/* GRAYSCALE COLORS */

$black: 				#000;
$grayDarker: 			#222;
$grayDark: 				#333;
$gray: 					#555;
$grayLight: 			#999;
$grayLighter: 			#eee;
$white: 				#fff;

/* ACCENT COLORS */

$blue: 					#049cdb;
$green: 				#46a546;
$red: 					#9d261d;
$yellow: 				#ffc40d;
$orange: 				#f89406;
$pink: 					#c3325f;
$purple: 				#7a43b6;
$orange: 				#EE7F01;

/* FORM STATES AND ALERTS */

$warningText:			#c09853;
$warningBackground:		#f3edd2;
$errorText:				#b94a48;
$errorBackground:		#f2dede;
$successText:			#468847;
$successBackground:		#dff0d8;
$infoText:				#3a87ad;
$infoBackground:		#d9edf7;

/* SIZES */

$fontSize: 1.3em;

/* HYPER LINKS */

$linkColor: #08c;
$linkColorHover: darken($linkColor,15%);

/* BUTTONS */

$primaryButtonBackground: $linkColor;

/* FORMS */

$placeholderText: $grayLight;