@media screen {
	body {
		overflow-y: scroll;
	}

	.wrap {
		max-width: 80em;
		margin: 0 auto;
	}

	.box {
		padding: 1.5em;
	}

	header,
	nav,
	#main,
	footer {
		min-width: 760px;
		.box {
			padding: 1.5em;
		}
	}

	#header {
		background: #444;
		color: #ccc;
	}

	#nav {
		background: #222;
	}

	#footer {
		background: #eee;
		color: #444;
	}

	.g-box { padding: 0 10px 0 10px; }
	.g-box-left { padding: 0 0 0 10px; }
	.g-box-right { padding: 0 10px 0 0; }

}